.git
.gitignore

.venv
venv
env

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

.env
.env.local
.env.*
!.env.example

logs/
*.log

.vscode/
.idea/

.pytest_cache/
.ruff_cache/
.mypy_cache/

readme.md
README.md