WEB_URL=
WEB_PORT=8000
WEB_HOST="0.0.0.0"

# Bot
BOT_TOKEN=
BOT_PROXY=False
BOT_SECRET=
BOT_MODE="polling"
CHANNEL_ID=


# Proxy
PROXY_URL=

# PostgreSQL
DATABASE_URL=

# Logging & Loki
LOG_LEVEL=INFO
LOKI_URL=
LOKI_USER=
LOKI_PASS=
LOG_CHAT=

# Enviroment
APP_ENV=dev